{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'add_project' %}">Add new Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'update_project' project.pk %}">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'delete_project' project.pk %}">Delete</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'add_task' project.pk %}">Add new Task</a>
    </li>
{% endblock %}
{% block content %}

    <div class="article">
        <h1>Название - {{ project.name }}</h1>
        <p >Описание - {{ project.description }}</p>
        <p>Врямы выполнения - {{ project.date_start }}</p>
{#        <p>Статус - {{ task.status.title }}</p>#}
        <p>Types:</p>
        {% for task in project.tasks.all %}
            <div class="card">
            {% if forloop.last %} {{ task.title }}. {% else %} {{ task.title }}, {% endif %}
                <a href="{% url 'update_task' task.pk%}">Update</a>
                <a href="{% url 'delete_task' task.pk %}">Delete</a>
            </div>
        {% endfor %}

{#        <a href="{% url 'detail_task' project.id %}" class="btn btn-outline-primary btn-sm">More</a>#}
{#        <a href="{% url 'update_task' project.id %}" class="btn btn-outline-success btn-sm">Update</a>#}
{#        <a href="{% url 'delete_task' project.id %}" class="btn btn-outline-danger btn-sm">Delete</a>#}

        <hr>
    </div>

{% endblock %}